/*
 *  © 2011-2016 Vladimir Stadnik, <mailto:x-doggy@ya.ru>
 *  Style sheet for my tic-tac-toe web game
 */


html {
    padding: 30px 10px;
    font-size: 16px;
    background-color: #f0f0f0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 785px;
    padding: 30px 35px 50px;
    margin: auto;
    background-color: #fcfcfc;
    box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
}

a {
    color: #05c;
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: #d83e0a;
    border-bottom-color: #f07e62;
}

li {
    line-height: 1.5;
}

input,
button,
textarea {
    font-family: "Liberation Sans mono", "Courier New", monospace;
    margin: 0;
    border: 1px solid #bcbcbc;
    background-color: #fff;
    color: #444;
}

input,
button {
    cursor: pointer;
}

.xo-top-title {
    font-size: 1.5em;
    float: left;
    margin: 0;
}

.xo-clearer {
    clear: both;
    overflow: hidden;
}

.xo-game-canvas {
    margin: 30px 0;
}

#xo-nice-ver-button {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: 80%;
    font-style: italic;
    font-weight: normal;
    padding: 10px;
    position: relative;
    top: -1em;
}

#xo-nice-ver-button:hover {
    background-color: #90ee90;
}

#xo-game-table {
    border-collapse: collapse;
    width: 240px;
    margin: auto;
    table-layout: fixed;
}

#xo-game-table td {
    cursor: pointer;
    cursor: hand;
    font-size: 300%;
    text-align: center;
    vertical-align: middle;
}

.b-lr {
    border: solid #ccc;
    border-width: 0 1px;
}

.b-b {
    border-bottom: 1px solid #ccc;
}

.b-t {
    border-top: 1px solid #ccc;
}

.xo-stats-wrap {
    min-width: 800px;
}

.xo-field {
    border: 1px solid #bcbcbc;
    border-radius: 4px;
}

.xo-blue {
    vertical-align: middle;
    font-weight: bold;
}

.xo-field__big {
    font-size: 140%;
    font-weight: bold;
    color: #37454d;
}

.xo-table-wrap,
.xo-table-simple {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin: 0 -3px;
}

.xo-table-simple {
    width: 100px;
    margin: auto;
}

.xo-table-wrap td,
.xo-table-simple td {
    border: none;
    padding: 0;
    vertical-align: top;
}

.xo-centered td {
    text-align: center;
    padding: 0 3px;
}

.xo-stylized-cross,
.xo-stylized-null,
.xo-stylized-no {
    font-size: 250%;
    font-weight: bold;
}

.xo-stylized-cross {
    color: #c06;
    position: relative;
    font-size: 270%;
}

.xo-stylized-null {
    color: #06c;
}

.xo-stylized-no {
    color: #0c6;
}

.xo-stylized-dots {
    padding: 0 5px;
    text-align: center;
    font-weight: normal;
    font-size: 210%;
}

.xo-centered-valign {
    vertical-align: middle !important;
}

#xo-x,
#xo-o,
#xo-n {
    font-size: 160%;
    margin-left: 5px;
}

#xo-stats,
#xo-logs {
    margin-left: 20px;
    padding: 0;
}

#xo-message {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
    width: 100%;
    height: 150px;
    margin: 0;
    border-color: #bcbcbc;
    font-size: 80%;
}

.cool {
    font-size: 75%;
    color: #fff;
    background-color: #f00;
}

.b-notice {
    margin: 30px 0;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
}

.b-notice__heading {
    font-size: 18px;
    font-style: italic;
    margin-bottom: -10px;
    margin-left: 40px;
    color: #444;
}

#xo-alert {
    width: 40%;
    text-align: center;
}

#xo-alert::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.xo-alert__sep {
    padding-top: 2em;
}
